# ignore everything
*

# but don't ignore files ending with slash = directories
!*/

# and don't ignore files ending with the following
!*.py
!*.ipynb
!*.R
!*.Rmd
!*.md
!*.csv

# and don't ignore updates to gitignore
!.gitignore
